<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">FTMO CRM</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if is_granted('ROLE_VIEW_NOTIFICATIONS') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                           aria-expanded="false">Notifications</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item show-loader" href="{{ path('notifications') }}">Notifications</a></li>
                            <li><a class="dropdown-item show-loader" href="{{ path('templates') }}">Templates</a></li>
                            <li><a class="dropdown-item show-loader" href="{{ path('templates_statistics') }}">Statistics</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_VIEW_NOTIFICATIONS') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                       aria-expanded="false">Files</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item show-loader" href="{{ path('files') }}">Files</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_VIEW_NOTIFICATIONS') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                           aria-expanded="false">Glossary</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item show-loader" href="{{ path('user_index') }}">User</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if app.user is defined %}
                        <li class="nav-item">
                            <div class="nav-link">{{ app.user.email }}</div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>
